.navbar {
    background-color: #60B0FF !important;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff !important;
}

.navbar-brand:hover{
    color: #194673 !important   ;
}

.navbar .nav-link:hover {
    background-color: #194673 !important;
    color: #ffffff;
}

.navbar .dropdown-item {
    background-color: #74b3f3 !important; 
    color: white !important; 
}   