<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="User Details">
  <meta name="author" content="">
  <title>Helpdesk - User Details</title>
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container mt-5">
    <h1 class="text-center mb-4">{{title}}</h1>
    <div class="card">
      <div class="card-header">
        User Information
      </div>
      <div class="card-body">
        <h5 class="card-title">Name: {{user.name}}</h5>
        <p class="card-text">Email: {{user.email}}</p>
        <p class="card-text">Phone: {{user.phone}}</p>
        <p class="card-text">Role: {{user.role}}</p>
        <p class="card-text">Created At: {{user.created_at}}</p>
        <p class="card-text">Updated At: {{user.updated_at}}</p>
        <a href="/users" class="btn btn-primary">Back to Users</a>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>
